
.Grey-font{
  color: #a7a7a7;
  font-size: calc(2px + 2vmin);
  font-weight: 650;
}

.Black-font{
  font-weight: 650;
  font-size: calc(5px + 2vmin);
}

.Details{
  display:flex; 
  justify-content: space-between; 
  width:65vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  border-bottom-color: rgb(243, 243, 243);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.en{
  text-align: left;
}
.ar{
  text-align: right;
}